<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/xacro" name="robot">
    <xacro:include filename="mecanum_sphere_core.xacro" />
    <!-- <xacro:include filename="gazebo_control.xacro"/> -->
    <xacro:include filename="ros2_control_mecanum_sphere.xacro"/>
    <!-- <xacro:include filename="lidar.xacro"/> -->
</robot>